<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/">TaskList</a>
    
    
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="nav-bar">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %></li>
          <!--オプション:method	HTTPメソッド(:get, :post, :put, :delete)の指定-->
        </ul>
      </div>
    <% else %>
      <li class="nav-item"><%= link_to 'signup', signup_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
         </ul>
    </div>

    <% end %>
  </nav>
</header>